<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mycompany.gains" >

    <uses-sdk tools:overrideLibrary="com.wnafee.vector" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mycompany.gains.Activities.MainActivity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/launcher_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mycompany.gains.Activities.WorkoutEditorOld.WorkoutEditorOld"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_workout"
            android:launchMode="singleTask"
            android:parentActivityName="com.mycompany.gains.Activities.MainActivity.MainActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.gains.Activities.MainActivity.MainActivity" />
        </activity>
        <activity
            android:name="com.mycompany.gains.Activities.WorkoutEditor.WorkoutEditor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_workout"
            android:launchMode="singleTask"
            android:parentActivityName="com.mycompany.gains.Activities.MainActivity.MainActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.gains.Activities.MainActivity.MainActivity" />
        </activity>
        <activity
            android:name="com.mycompany.gains.Activities.Preferences.SettingsActivity"
            android:parentActivityName="com.mycompany.gains.Activities.MainActivity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.gains.Activities.MainActivity.MainActivity" />
        </activity>

        <service android:name="com.mycompany.gains.Activities.WorkoutEditor.CountdownNotifyService" />

        <receiver android:name="com.mycompany.gains.Activities.WorkoutEditor.AlarmReceiver" />

        <activity android:name="com.mycompany.gains.Activities.WorkoutViewer"
            android:parentActivityName="com.mycompany.gains.Activities.MainActivity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.gains.Activities.MainActivity.MainActivity" />
        </activity>
    </application>

</manifest>
